.custom-tooltip {
    background-image: url('../../../public/Images/Rectangle\ 5.png');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 12px;
    box-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08), 0px 8px 16px rgba(50, 50, 71, 0.06);
    border: none !important;
    outline: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 10px;
}


.custom-tooltip button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px 5px;
    border-radius: 12px;
    outline: none;
    background-color: unset;
}

.custom-tooltip.Done {
    border: 1px solid #2D9CDB;
}
.custom-tooltip.Rejecyet {
    border: 1px solid #2D9CDB;
}
.custom-tooltip.inProgress {
    border: 1px solid #2D9CDB;
}