.custom-tooltip {
    background-image: url('../../../public/Images/Rectangle\ 5.png');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 12px;
    box-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08), 0px 8px 16px rgba(50, 50, 71, 0.06);
    border: none !important;
    outline: none !important;
    background-color: unset;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
}


.custom-tooltip button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px 5px;
    border-radius: 12px;
    outline: none !important;
    background-color: unset;
}

.Done {
    border: 1px solid #2D9CDB;
    color: #2D9CDB;
}
.Rejected {
    border: 1px solid #EB5757;
    color: #EB5757;
}
.inProgress {
    border: 1px solid #27AE60;
    color: #27AE60;
}

.desc, .label{
    padding: 10px 5px;
    text-align: center;
}