.rt-sidebar {
    background: linear-gradient(271.39deg, rgba(255, 255, 255, 0.609) 7.18%, rgba(255, 255, 255, 0.098) 98.12%), rgba(255, 255, 255, 0.5);
    flex: 1;
    max-width: 243px;
    backdrop-filter: blur(10px);
    border-radius: 0px 24px 24px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    padding: 24px;
    height: calc(100% - 48px);
}

.apollo-logo {
    display: flex;
    justify-content: center;
    margin-top: 11px;
    column-gap: 20px;
    align-items: center;
}

.insurance-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 44px;
    margin-bottom: 34px;
}

.taavon-1 {
    width: 75px;
    height: 75px;
    object-fit: cover;
    margin-bottom: 15px;
}

.taavon-2 {
    width: 100px;
    height: 25px;
    object-fit: contain;
}

.apollo-2 {
    width: 48px;
    height: 48px;
    object-fit: cover;
}

.apollo-1 {
    width: 95px;
    height: 35px;
    object-fit: contain;
}

.menu {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    justify-content: right;
}

.menu-wrapper li {
    position: relative;
    width: 195px;
    height: 48px;
}

li.active {
    margin-bottom: 26px !important;
}

.menu-wrapper img {
    margin: auto 13px;
}

.menu-wrapper a {
    text-decoration: none;
    color: #003459;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
}

.menu-wrapper a.active {
    padding: 10px;
    font-weight: 800;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    background: linear-gradient(-270deg, #8FDFFF 5.73%, #3EBEFF 97.4%);
    box-shadow: 0px 2px 4px rgba(88, 231, 244, 0.5);
    border-radius: 12px;
    margin-bottom: 26px !important;
}

.side-mark.active {
    width: 3px;
    height: 29px;
    background: #67F6FF;
    box-shadow: 0px 0px 4px rgba(103, 246, 255, 0.6);
    border-radius: 10px;
    position: absolute;
    top: 8px;
}

.upgrade-elem {
    display: flex;
    align-items: center;
    background: rgba(0, 52, 89, 0.05);
    border: 1px dashed rgba(0, 52, 89, 0.2);
    border-radius: 12px;
    margin-bottom: 65px;
    padding: 14px 16px;
}

.upgrade-elem a {
    display: flex;
    text-decoration: none;
    align-items: center;
    color: #003459;
}

.upgrade-elem span {
    margin: 0 15px;
    text-align: center;
    font-family: 'Yekan Bakh';
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
}

.customize-view {
    display: flex;
    column-gap: 15px;
    justify-content: center;
}

.brightness,
.language {
    width: 70px;
    background: rgba(249, 251, 251, 0.4);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    cursor: pointer;
}

.language span {
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #003459;
}

.language img {
    width: 20px;
    height: 20px;
}

.toggle-icon {
    margin: auto 5px;
    height: 13px;
    width: 80px;
    background: #FFFFFF;
    border: 1.5px solid rgba(0, 52, 89, 0.1);
    border-radius: 12px;
    display: flex;
    align-items: center;
    position: relative;
}

.light-mode, .dark-mode {
    width: 20px;
    height: 20px;
}

.toggle-icon img.dark {
    position: absolute;
    top: 3px;
    right: -6%;
    width: 12px;
    height: 12px;
}

.toggle-icon img.light {
    position: absolute;
    top: 3px;
    left: -6%;
    width: 12px;
    height: 12px;
}

.user-info {
    background: rgba(249, 251, 251, 0.4);
    border-radius: 24px;
    padding: 30px 22px 24px 22px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 16px;
}

.user-avatar {
    display: flex;
    justify-content: center;
    position: relative;
}

.profile-avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    width: 48px;
    height: 48px;
    object-fit: cover;
}

.profile-status {
    position: absolute;
    bottom: 32%;
    right: 38%;
    width: 8px;
    height: 8px;
    object-fit: cover;
    border-radius: 50%;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
}

.profile-status.active {
    visibility: visible;
    opacity: 1;
}

.user-name {
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #003459;
}

.user-email {
    font-weight: 500;
    font-size: 11px;
    font-family: Montserrat;
    line-height: 13px;
    text-align: center;
    color: #003459;

}

.user-title {
    padding: 6px 20px;
    background: #3EBEFF;
    border-radius: 12px;
    width: fit-content;
    margin: 8px auto 26px auto;
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    color: #FFFFFF;
}

.user-action-btns {
    display: flex;
    justify-content: center;
    column-gap: 32px;
    align-items: center;
}

.user-action-btns div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid rgba(0, 52, 89, 0.1);
    border-radius: 12px;
    width: 40px;
    height: 40px;
}