.left-sidebar {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.left-sidebar-top {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 24px;
    padding: 24px 16px 16px 16px;
}

.left-top-header {
    font-weight: 800;
    font-size: 22px;
    line-height: 34px;
    letter-spacing: -0.02em;
    color: #003459;
    padding: 0 8px 16px 0;
}

.top-users-container {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #F9FBFB;
    border-radius: 16px;
    width: fit-content;
}

.top-user {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    column-gap: 16px;
    width: 195px;
    height: 64px;
}

.top-user-crown {
    position: absolute;
    top: -8px;
    right: 8px;
    width: 44px;
    height: 23px;
    z-index: 7574636;
}

.top-user-avatar {
    width: 48px;
    height: 48px;
    object-fit: cover;
    position: relative;
}

.top-user-detail {
    display: flex;
    flex-direction: column;
    justify-content: right;
    width: 119px;
}

.top-user-name {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    letter-spacing: -0.01em;
    color: #003459;
}

.top-user-score-box {
    width: 119px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.score-number,
.score-day {
    font-weight: 400;
    font-size: 10px;
    line-height: 11px;
    text-align: right;
    color: #003459;
}

.top-seller-challenge {
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 16px;
    background: #F9FBFB;
    border: 1px dashed #BDBDBD;
    border-radius: 12px;
    padding: 16px;
    margin-top: 16px;
    cursor: pointer;
}

.cup-icon {
    width: 40px;
    height: 38px;
}

.top-seller-details {
    display: flex;
    justify-content: right;
    flex-direction: column;
}

.top-seller-details span {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    letter-spacing: -0.01em;
    color: #003459;
}

.more-info {
    font-weight: 400;
    font-size: 10px;
    line-height: 11px;
    color: #003459;
}

.top-user-hr {
    border: 1px solid #F1F4F5;
    width: inherit;
    height: 0px;
}

.top-user-green-ball {
    position: absolute;
    width: 8px;
    height: 8px;
    right: 4px;
    bottom: 10px;
}

.left-sidebar-bottom {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.left-sidebar-bottom img {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 270px;
    height: 365px;
    object-fit: contain;
    margin: 0%;
}