.header {
    padding: 32px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 43px;
}

.search-box {
    width: 370px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 12px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.search-icon {
    margin: auto 18px;
    cursor: pointer;
}

.search-input {
    border: none;
    outline: none;
    background-color: unset;
    width: 300px;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: rgba(0, 52, 89, 0.5);

}

.header-left-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;
}

.billing {
    width: 200px;
    height: 48px;
    background: rgba(0, 52, 89, 0.05);
    border: 1.5px solid rgba(0, 52, 89, 0.1);
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 16px;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #003459;
}

.billing img {
    cursor: pointer;
}

.billing span {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #003459;
}

.charging-account {
    width: 154px;
    height: 48px;
    background: #3EBEFF;
    box-shadow: 0px 6px 12px rgba(51, 161, 217, 0.2);
    border-radius: 12px;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px 0 16px;
}

.charging-account img{
    cursor: pointer;
}

.new-request {
    width: 155px;
    height: 48px;
    background: #003459;
    box-shadow: 0px 6px 12px rgba(0, 52, 89, 0.2);
    border-radius: 12px;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
}

.drop-down-menu {
    width: 48px;
    height: 48px;
    background: #00253F;
    border-radius: 0 12px 12px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 10px;
}

.notifications {
    width: 48px;
    height: 48px;
    background: #FFFFFF;
    box-shadow: 0px 8px 8px rgba(50, 50, 71, 0.05);
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.notifications img {
    width: 20px;
    
    height: 20px;
}

.notif-sign {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 20px;
    height: 20px;
}