.activate-btn.en {
    width: 95px;
    height: 40px;
    position: absolute;
    left: 35px;
    bottom: 45px;
    background: #FFFFFF;
    box-shadow: 0px 6px 12px rgba(81, 192, 221, 0.2);
    border-radius: 12px;
    font-weight: 400;
    color: #003459;
}

.body-top-left.en{
    padding: 16px;
    margin: 0;
}

.body-top-left.en ul{
    padding: 0;
}

.pie-chart-body.en{
    padding: 0;
    flex-direction: row-reverse;
}

.pattern.en {
    flex-direction: row-reverse;
}

.pie-chart-header.en span {
    font-weight: 600;
}
